/* Colors */
$green1: #00c753;
$fuchsia1: #f40253;
$purple1: #25072e;

$black: #111111;
$white: white;

/* Heights */
$header-height: 180px;
$mobile-nav-height: 60px;

/* Media Breakpoints */
$med-break: 680px;
$lg-break: 1036px;
